/* Kartica login forme */
.login-grup {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(8px);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.463);
    width: 350px;
    animation: fadeIn 1s ease-in-out;
    font-weight: 100;
    font-style: italic;
}

.register-form {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.463);
    width: 500px;
    animation: fadeIn 1s ease-in-out;
    font-weight: 100;
    font-style: italic;
}

.subtitle {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #444;
    margin-top: -10px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Naslovi */
.login-grup h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #222;
    font-weight: bold;
}

.register-form h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #222;
    font-weight: bold;
}

/* Register link */
.register-link {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.register-link a {
    color: #0072ff;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

/* Register forma detalji */
.register-group {
    margin-bottom: 8px;
}

.register-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.register-group input {
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #cccccc97;
    outline: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.register-group input:focus {
    border-color: #00c6ff;
    box-shadow: 0 0 6px rgba(0,198,255,0.4);
}

.gender-group {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.gender-group input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

.register-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.register-grid .register-group {
    margin-bottom: 10px;
}
