body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: url('../images/plane1.jpg') no-repeat center center fixed;
    background-size: cover;
}

body::before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 0;
}

/* Animacije */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Form elementi */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.3s ease;
}

.form-group input:focus {
    border-color: #00c6ff;
    box-shadow: 0 0 8px rgba(0,198,255,0.4);
}

/* Dugmad */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: rgb(32, 30, 30);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    font-style: italic;
}

button:active{
    transform: scale(0.97);
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,114,255,0.8);
}

/* Spinner */
.spinner {
    margin: 15px auto 0;
    width: 30px;
    height: 30px;
    border: 4px solid #ddd;
    border-top: 4px solid #0072ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Error poruke */
.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    font-family: bold;
}

/* Tooltip */
.tooltip-cell {
  position: relative;
}

.tooltip-cell::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: pre-wrap;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
  width: max-content;
  max-width: 250px;
}

tr:hover .tooltip-cell::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-10px);
}

.notification-bubble {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  margin-left: 5px;
}

.tabs{
    display: flex;
    margin-top: 10px;
   margin-bottom: 10px;
}
